
@font-face {
	font-family: KalamehWeb;
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/woff2/KalamehWeb-Thin.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/KalamehWeb-Thin.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: KalamehWeb;
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/woff2/KalamehWeb-ExtraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/KalamehWeb-ExtraLight.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: KalamehWeb;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/woff2/KalamehWeb-Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/KalamehWeb-Light.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: KalamehWeb;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/woff2/KalamehWeb-Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/KalamehWeb-Medium.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: KalamehWeb;
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/woff2/KalamehWeb-Semibold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/KalamehWeb-Semibold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: KalamehWeb;
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/woff2/KalamehWeb-ExtraBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/KalamehWeb-ExtraBold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: KalamehWeb;
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/woff2/KalamehWeb-Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/KalamehWeb-Black.woff') format('woff')  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: KalamehWeb;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/woff2/KalamehWeb-Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/KalamehWeb-Bold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: KalamehWeb;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/woff2/KalamehWeb-Regular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('../fonts/woff/KalamehWeb-Regular.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}



*{
    font-family: KalamehWeb !important;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    text-align: left;
}

body {
    margin: 0;
  }

  .center-container{
      margin-bottom: 100px !important; 
      box-sizing:unset;
  }


  tbody, td, tfoot, th, thead, tr {
    border-color: unset;
    border-style: unset;
    border-width: 0;
    padding: 4px;
}


  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, button,.btn, a, span,.fw-bold {
    font-weight: bold !important;
  }


  .center-container {
    margin: 0px auto;
    width: 100%;
    margin-bottom: 90px;
    position: relative;
}
      
   .backg {
    position: fixed;
    object-fit: cover;
    height: 130%;
    width: 130%;
    left: -10%;
    right: -10%;
    top: -10%;
    filter:  saturate(1.5) blur(50px) brightness(0.8);
    background: url(liq.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

  
  #splash-screen {
    z-index:1000;
    width:100%;
    height:100%; 
    position:fixed;
    background:#ffffff; 
    text-align:center; 
    font-family:vazir; 
    direction:rtl;
    -webkit-animation-name: fadeout;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeout;
    animation-duration: 0.4s;
    animation-delay: 2.6s;
  }

  @keyframes fadeout {
    from {opacity: 1} 
    to {opacity: 0}
  }

#splash-screen p {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    text-align:center;
  }
  
  #splash-text {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 66px;
    width: 200px;
    text-align: center;
}

input{
  border: none;
  background-color: #000000ab;
  border-radius: 80px;
  outline: none;
  color: #fff;
  padding: 10px !important;
  margin: 0 !important;
}
  

body[light-mode="dark"] input {
  color : #333;
  background-color: #ffffffab;
 } 

/* scroll bar 

::-webkit-scrollbar {
  width: 10px;
  padding: 10px;
  position: absolute;
}

::-webkit-scrollbar-track {
background : #4853f9;
  border-radius: 10px;
  width: 50px ;
  position: absolute;
}

::-webkit-scrollbar-thumb {
  background:#4853f9;
  border-radius: 10px;
  position: absolute;
}

::-webkit-scrollbar-thumb:hover {
  background: #4853f9; 
}   */


a{
  color: #ffffff;
}

body[light-mode="dark"] a{
  color: #000;
}

button, a, label{
  border-radius: 20px !important;
}


.card{
  background-color: #0e0932;
  border-radius: 30px !important;
  color: #fff;
  padding: 20px;
  box-shadow: none;
}

body[light-mode="dark"]  .card{
background-color: #ffffff;
color: #0e0932;
}

.card img{
border-radius: 20px !important;
width: 100%;
height: 150px;
object-fit: cover;
}

.accordion{
  border-radius: 20px !important;
  overflow: hidden;
  color:#fff;
}

body[light-mode="dark"] .accordion {
  color:#000000;
}

body[light-mode="dark"] .accordion a{
  color:#000000;
}


.accordion .accordion-item{
  background-color: #0e0932 !important;
  color: #fff;
  box-shadow: none;
}

.accordion-button{
  background-color: #0e0932 !important;
  color: #fff;
}



body[light-mode="dark"]  .accordion .accordion-item{
  background-color: #ffffff !important;
  color: #000;
  box-shadow: none;
}

body[light-mode="dark"]  .accordion-button{
  background-color: #ffffff !important;
  color: #000;
}


.card-footer{
  background: unset;
}

.form-control{
background: unset;
border-radius: 20px;
}


.single-product{
padding: 50px;
}

.single-product:hover{
transform: unset;
  }
  
.single-product img{
  height: 100%;
}







table{
  color:unset !important;
}

.cart-table-container {
  margin-bottom: 2.5rem;
}

.cart-table-container .input-group .form-control {
  height: 25px;
  border-color: rgba(0, 0, 0, 0.09);
}

.cart-table-container .btn-shop,
.cart-table-container .btn-sm {
  border: none;
  background-color: #f4f4f4;
}

.cart-table-container .btn-shop:hover,
.cart-table-container .btn-sm:hover {
  color: #fff;
  background-color: #08c;
}

.table.table-cart tr td,
.table.table-cart tr th,
.table.table-wishlist tr td,
.table.table-wishlist tr th {
  vertical-align: middle;
}

.table.table-cart tr th,
.table.table-wishlist tr th {
  border: 0;
  font-weight: 500;
  line-height: 2rem;
  font-size: 14px;
  text-transform: uppercase;
}

.table.table-cart tr td,
.table.table-wishlist tr td {
  border-top: 1px solid #e7e7e7;
}

.table.table-cart tr td.product-col,
.table.table-wishlist tr td.product-col {
  padding: 2rem 0.8rem 1.8rem 0;
}

.table.table-cart tr.product-action-row td,
.table.table-wishlist tr.product-action-row td {
  padding: 0 0 2.2rem;
  border: 0;
}

.table.table-cart .product-image-container,
.table.table-wishlist .product-image-container {
  position: relative;
  width: 8rem;
  margin: 0;
}

.table.table-cart .product-title,
.table.table-wishlist .product-title {
  margin-bottom: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  font-size: 16px;
}

.table.table-cart .product-title a,
.table.table-wishlist .product-title a {
  color: inherit;
  text-decoration: none;
}

.table.table-cart .subtotal-price,
.table.table-wishlist .subtotal-price {
  font-size: 1.6rem;
  font-weight: 600;
  font-size: 16px;
}

.table.table-cart .btn-remove,
.table.table-wishlist .btn-remove {
  right: 15px;
  font-size: 1.1rem;
}

.table.table-cart tfoot td,
.table.table-wishlist tfoot td {
  padding: 2rem 0.8rem 1rem;
}

.table.table-cart tfoot .btn,
.table.table-wishlist tfoot .btn {
  padding: 1.2rem 2.4rem 1.3rem 2.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  height: 43px;
  letter-spacing: -0.018em;
  font-size: 14px;
  padding: 0px 25px;
}

.table.table-cart tfoot .btn+.btn,
.table.table-wishlist tfoot .btn+.btn {
  margin-left: 1rem;
}

.table.table-cart .bootstrap-touchspin.input-group,
.table.table-wishlist .bootstrap-touchspin.input-group {
  margin-right: auto;
  margin-left: auto;
}

.table.table-cart .product-title a,
.table.table-cart .subtotal-price {
  display: block;
  margin-bottom: 1px;
}

.table-cart tr th {
  padding: 1rem;
}

.table-cart tr th.thumbnail-col {
  width: 16%;
}

.table-cart tr th.product-col {
  width: 33%;
}

.table-cart tr th.price-col {
  width: 14%;
}

.table-cart td {
  padding: 1rem 1rem;
}

i.cart-empty {
  font-size: 100px;
  color: #d3d3d4;
}


.qty-col {
  min-width: 98px;
}

tbody .product-col {
  font-size: 0;
}

.product-col .product-image-container {
  display: table-cell;
  padding-right: 1.8rem;
  margin-bottom: 0;
  vertical-align: middle;
}

.product-col .product-image img {
  border: 1px solid #ccc;
}

.product-col .product-title {
  margin-bottom: 1px;
  display: table-cell;
  vertical-align: middle;
}

.cart-discount {
  margin-bottom: 2rem;
}

.cart-discount h4 {
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.cart-discount form {
  max-width: 420px;
}

.cart-discount .input-group-append {
  margin-left: 3px;
}

.cart-summary {
  margin-bottom: 1.6rem;
  padding: 1.5rem;
}

.cart-summary h3 {
  margin-bottom: 10px;
  font-size: 16px;
  letter-spacing: -0.01em;
}

.product-image img {
  width: 100px;
  height: 100px;
}

.quantity-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.quantity-wrapper label {
  font-weight: 300;
  color: #666666;
  font-size: 15px;
  margin-bottom: 0;
}

.quantity-wrapper .input-group {
  width: 100px;
  margin: 0 10px;
}

.quantity-wrapper input {
  width: 35px !important;
  pointer-events: none;
  padding: 0;
  border: 0;
  text-align: center;
  margin-left: auto !important;
  position: initial !important;
}

.quantity-wrapper .input-group-btn {
  border: 1px solid #d5d5d5;
  border-radius: 50px !important;
  display: flex;
}

.quantity-wrapper .btn {
  padding: 0;
  height: 28px;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  box-shadow: none;
}

.quantity-wrapper .bx {
  font-size: 16px;
}

.promo-code-area h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
}

.apply-coupon-btn {
  background-color: #4f1fff;
  color: #fff;
}

.apply-coupon-btn:hover {
  color: #fff;
}

.cart-discount input {
  box-shadow: none !important;
  outline: none !important;
}

.table-totals tfoot tr td:last-child {
  text-align: right;
}

.checkout-methods {
  text-align: center;
}

.btn-remove {
  position: absolute;
  top: -10px;
  right: -8px;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  color: #474747;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 40%);
  text-align: center;
  line-height: 2rem;
}
.icon-cancel{
  text-decoration: none;
}
.icon-cancel:before {
  content: "ÔÄç";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
}
